body{
    background-color: #455E89;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
    /* text-align: center; */
}
/* https://coolors.co/b7094c-a01a58-892b64-723c70-5c4d7d-455e89-2e6f95-1780a1-0091ad */
.navbar{
    height: 100px;
    grid-row:1;
    grid-column: 2/4;
    margin-right: auto;
    margin-left: auto;

    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}
.bar{
    float: left;
    list-style:none;
}

.bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none; 
    background-color: #892B64;
}
.bar a:hover{
    background-color: #0091AD;
}
#container{
    margin-top: 8%;
    grid-row: 1;
    grid-column: 2/4;
    background-color: blanchedalmond;
    text-align: center;
}

#smt_container{
    margin-top: 15%;
    grid-row: 1;
    grid-column: 2/4;
    background-color: blanchedalmond;
    text-align: center;
    /* background-color: #B7094C; */
}
/* .link{
    text-decoration: none;
    color:black
} */

#study{
    margin-top: 8%;
    grid-row: 1;
    grid-column: 2/4;
    background-color: blanchedalmond;
    text-align: center;
    /* margin-top: 15%;
    grid-row: 2;
    grid-column: 2/4;
    text-align: center;
    background-color: blanchedalmond; */
}

.s_img{
    height:100px;
    width: 300px;
}

li{
    list-style-type:none;
}

a{
    text-decoration: underline;
    color: black;
}